<div class="quiz__container flex__content">
    <h1>QUIZ</h1>

    <div class="quiz__content flex__content">
        <h2>{{ title }}</h2>
        <div *ngIf=!isFinished class="quiz__questions flex__content">

            <div class="quiz__question-title flex__content">
                <h3>{{ currentQuestion.question }}</h3>

            </div>

            <div class="quiz__options flex__content">
                <button (click)="handleQuizzQuestions(option.alternative)" *ngFor="let option of questions[questionIndex].options; let i=index" class="btn-option">{{ option.id }}. {{ option.name }}</button>             
            </div>
        </div>

        <div *ngIf="isFinished"class="quiz__result flex__content">
            <h1>O resultado é:</h1>
            <p class="quiz__result-text">{{ quizPlayerResult }}</p>
            <p (click)="restart()" class="quiz__result__restart-msg">Clique aqui para refazer o teste!</p>
        </div>

    </div>
</div>